<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Library</h3>
        </div>
  
        <ul class="list-unstyled components">
            <p>Read <br> & <br> Grow</p>
            <li class="active">
                <a href="#" routerLink="list" id="aa">List Books</a>
                <!--<ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="#" routerLink="add" id="bb">Add Books</a>
            </li>

            <li>
                <a href="#" routerLink="" id="cc">Logout</a>
            </li>
            <!--<li>
                <a href="#">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li> 
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>-->
        </ul>
  
        
    </nav>
  

  
  <router-outlet></router-outlet>
