<div class="w3-container" style="margin-top:0px" id="showcase">
    <h1 class="w3-xxlarge w3-text-teal"><b>List Books</b></h1>
    <hr style="width:50px;border:5px solid teal" class="w3-round">
    <table class="w3-table-all w3-xlarge" style="width:1235px">
        <thead>
            <tr class="w3-teal">

                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Price</th>
                
            </tr>
        </thead>
            
            <tr *ngFor='let i of books'>
            <td>{{i.Id}}</td>
            <td><img [src]="i.imageUrl" alt="image" id = "bookk"></td>
            
            <td>{{i.title}}</td>
            <td>{{i.author}}</td>
            <td>{{i.pages}}</td>
            <td>{{i.price}}</td>

            <td>
                <button class="btn btn-warning" style="cursor:pointer" (click)="editBook(i)"
                    style="margin-left: 20px;"> Edit</button> </td>

                 <td>   <button class="btn btn-warning" style="cursor:pointer" (click)="deleteBook(i)">Delete</button>
                    
            </td>
            
        </tr>

    </table>
</div>